@import "./reset.scss";

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  .main-grid {
    font-size: 100px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    &:first-child {
      background-color: #d9e8de;
      color: #f44608;
    }
    &:nth-child(2) {
      background-color: #008a69;
      color: #d9e8de;
    }
    &:nth-child(3) {
      background-color: #f44608;
      color: #d9e8de;
    }
    &:last-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .small-grid {
        font-size: 44px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        &:first-child {
          background-color: #f7abc4;
          color: #f44608;
        }
        &:nth-child(2) {
          background-color: #5f5fa9;
          color: #d9e8de;
        }
        &:nth-child(3) {
          background-color: #ffc027;
          color: #f44608;
        }
        &:last-child {
          background-color: #f87375;
          color: #d9e8de;
        }
      }
    }
  }
}
