@import "./reset.scss";

$borderRadius: 10px;
body {
  height: 100vh;
  background-color: #7d4aa9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wrapper {
  background-color: black;
  width: 90%;
  height: 95%;

  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr 0.4fr;
  gap: 2px;
  padding: 15px;
  box-sizing: border-box;

  .title {
    padding: 15px;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    background-color: white;
    border-radius: $borderRadius;
    .title__top {
      display: flex;
      justify-content: space-between;

      .title__logo {
        font-size: 40px;
        font-weight: 600;
      }
      .title__best-reviews {
        text-transform: uppercase;
        background-color: #fec831;
        padding: 0 8px;
        border-radius: $borderRadius;
      }
    }

    .title__main {
      font-size: 70px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title__desc {
      text-transform: uppercase;
      padding-top: 15px;
      font-size: 22px;
      font-weight: 600;
      border-top: 1px solid black;
    }
  }

  .informations {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 0.8fr;
    gap: 2px;
    .informations__image {
      border-radius: $borderRadius;
      background-image: url("https://images.unsplash.com/photo-1719176372917-6c96c3608161?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
    }
    .informations__nav {
      padding: 20px;
      color: white;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      ul {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .nav__cta {
        font-size: 17px;
      }
    }
    .informations__cases {
      display: grid;
      grid-template-rows: 1fr 1fr 2fr;
      text-transform: uppercase;
      & > div {
        border-radius: $borderRadius;
      }
      .informations__recent {
        font-size: 12px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #fec831;
      }
      .informations__cbp {
        background-color: white;
        transform: rotateZ(10deg);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .informations__cta {
        font-size: 17px;
        padding: 20px;
        color: white;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    & > div {
      border-radius: $borderRadius;
      background-image: url("https://images.unsplash.com/photo-1717501219905-2711c58ab655?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
    }
  }

  .post {
    background-color: white;
    border-radius: $borderRadius;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}
