@import "./reset.scss";

$backgroudColor: #eee852;
$mainColor: #fd6b3a;
$pointColor: #45ab4f;
$borderWidth: 4px;

@keyframes slide {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

body {
  height: 100vh;
  background-color: $backgroudColor;
}

.copywrite {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 98px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: grid;
  gap: $borderWidth;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  border: $borderWidth solid $mainColor;
  box-sizing: border-box;
  margin: 10px;
  background-color: $mainColor;

  .horizon-bar {
    position: relative;
    grid-column: span 4;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    span {
      position: absolute;
      width: max-content;
      font-size: 24px;
      color: $mainColor;
      text-transform: uppercase;
      font-weight: 600;
      animation: slide 5s linear infinite;
    }
  }
  .main-img {
    grid-row: span 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .nav-items {
    position: relative;
    ul {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .nav-item {
        color: white;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: upright;
      }
    }
  }
  .title {
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: $borderWidth;
    .title__text {
      position: relative;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: max-content;
        position: absolute;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 19px;
        color: $mainColor;
        transform: rotateZ(-90deg);
      }
    }
    .title__icons {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .menu {
    background-color: $pointColor;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      position: absolute;
      color: white;
      font-weight: 700;
      font-size: 19px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}
